body {
  background: #0694c3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.calculator {
  width: 350px;
  background: black;
  padding: 20px;
  border-radius: 20px;
}
#display {
  height: 80px;
  font-size: 25px;
  text-align: right;
  border: none;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 10px;
}
button {
  height: 55px;
  font-size: 20px;
}
.equal-btn {
  height: 60px;
  background: #ff4d00 !important;
  font-size: 26px;
}
.clear-btn {
  background: red !important;
  color: white;
}
