#BigDaddy{
    border: 1px solid #000;
    height: 700px;
    width: 700px;
    background-color: aquamarine;
}

#mainDiv{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    justify-content: center;
    align-items: end;
    justify-items: center;
    width: fit-content;
    border: 1px solid #000;
}

.subDiv{
    border: 1px solid #000;
    height: 40px;
    width: 40px;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
}